@media only screen and (min-width: 768px) {
  .wrap {
    border-left: 1px solid red;
    border-right: 1px solid red;
  }
}

#rss {
  position: relative;
  z-index: 1;
  padding: 8vw 0;
  margin-top: 11vw;
}
#rss:after {
  position: absolute;
  content: "";
  bottom: 1vw;
  left: 4%;
  right: 4%;
  height: 2px;
  background: #d1d1ce;
}
#rss h2 {
  font-size: 4.8vw;
  margin-left: 4%;
  color: #555555;
}
#rss #feed-rss {
  margin-top: 2vw;
  min-height: 83px;
}
#rss #feed-rss p span:nth-child(1) {
  color: #999999;
}
@media only screen and (min-width: 768px) {
  #rss {
    padding: 27px 0 72px;
    text-align: center;
  }
  #rss:after {
    bottom: 52px;
    left: 23.4%;
    right: 23.4%;
    box-sizing: border-box;
    height: 3px;
    border-top: 1px solid #d1d1ce;
    background: unset;
    border-bottom: 1px solid #d1d1ce;
    opacity: 0.5;
  }
  #rss h2 {
    font-size: 24px;
    margin: 0px 0px 0px 0px;
  }
  #rss #feed-rss {
    margin-top: 36px;
  }
}

#sec1 {
  margin-top: 7vw;
}
#sec1 .group1 {
  position: relative;
}
#sec1 .group1:after {
  content: "";
  position: absolute;
  right: -31%;
  top: -71vw;
  width: 70%;
  height: 100vw;
  background: url(../img/index/sec1_deco1.png) no-repeat top center/100% auto;
  z-index: -1;
}
#sec1 .group1 .sec1-banner {
  margin-top: 9vw;
}
#sec1 .group2 {
  margin-top: 25vw;
  position: relative;
}
#sec1 .group2:after {
  content: "";
  position: absolute;
  right: -22%;
  width: 90%;
  height: 100vw;
  top: 58vw;
  background: url(../img/index/sec1_deco2.png) no-repeat top center/100% auto;
  z-index: -1;
}
#sec1 .group2 .sec1-img1 {
  margin: 0 -5% 21vw;
  position: relative;
  right: 10%;
  transform: scale(1.4);
}
#sec1 .group2 h2 {
  width: 55%;
  margin: 0 auto 9vw;
}
#sec1 .group2 .sec1-txt {
  color: #fff;
  background: url(../img/index/sec3_bg.jpg);
  padding: 10vw 9%;
  margin: 0 2%;
  line-height: 2;
}

@media only screen and (min-width: 768px) {
  #sec1 {
    margin-top: -12px;
  }
  #sec1 .group1 {
    margin-bottom: 112px;
  }
  #sec1 .group1:after {
    background: unset;
    width: 810px;
    height: 1170px;
    right: -492px;
    top: -674px;
    content: url(../img/index/sec1_deco1.png);
  }
  #sec1 .group1 .sec1-banner {
    margin: 0px 0px 0px 0px;
    text-align: center;
  }
  #sec1 .group1 .sec1-btn {
    margin-bottom: 59px;
  }
  #sec1 .group2 {
    margin: 0px 0px 0px 0px;
    position: relative;
  }
  #sec1 .group2:after {
    background-color: unset;
    content: url(../img/index/sec1_deco2.png);
    width: 651px;
    height: 572px;
    top: 62px;
    right: -141px;
  }
  #sec1 .group2 .sec1-img1 {
    margin: -11px 0px 0px -410px;
    transform: scale(1);
    position: unset;
    width: 107%;
  }
  #sec1 .group2 h2 {
    width: auto;
    margin: 0px 0px 0px 0px;
    position: absolute;
    left: 601px;
    top: 147px;
  }
  #sec1 .group2 .sec1-txt {
    padding: 62px 74px;
    margin: 0px 0px 0px 0px;
    width: 600px;
    height: 380px;
    position: absolute;
    top: 361px;
    line-height: 32px;
    left: 450px;
  }
}
#sec2 {
  margin-top: 12vw;
}
#sec2 .wrap .sec2-img1 {
  margin-left: -5%;
  margin-right: 2%;
}
#sec2 .wrap h2 {
  text-align: center;
  margin: 24vw 0% 0 0;
  position: relative;
}
#sec2 .wrap h2::after {
  content: "";
  position: absolute;
  width: 58%;
  height: 123vw;
  left: 25%;
  top: -28vw;
  background: url(../img/index/sec2_deco.png) no-repeat top center/100% auto;
  z-index: -1;
}
#sec2 .wrap .sec2-content p {
  padding: 8vw 0;
  line-height: 2;
}
#sec2 .wrap .sec2-content p:first-child {
  position: relative;
}
#sec2 .wrap .sec2-content p:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  border-top: 1px solid #d0ceca;
  border-bottom: 1px solid #d0ceca;
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  #sec2 {
    margin-top: 281px;
    margin-bottom: -195px;
  }
  #sec2 .wrap {
    height: 100%;
  }
  #sec2 .wrap .sec2-img1 {
    margin-right: 249px;
    margin-left: -250px;
  }
  #sec2 .wrap h2 {
    position: absolute;
    right: 120px;
    margin: 0;
    top: 248px;
  }
  #sec2 .wrap h2::after {
    content: url(../img/index/sec2_deco.png);
    width: 295px;
    height: 703px;
    left: -113px;
    top: -187px;
    background: unset;
  }
  #sec2 .wrap .sec2-img2 {
    margin: -30px 0px 0px 198px;
  }
  #sec2 .wrap .sec2-content {
    width: 514px;
    position: relative;
    top: -499px;
    left: 77px;
  }
  #sec2 .wrap .sec2-content p {
    padding: 57px 0;
    line-height: 32px;
  }
}
#sec3 {
  position: relative;
}
#sec3:after {
  content: "";
  position: absolute;
  top: 33vw;
  left: 0;
  width: 100%;
  height: 83%;
  z-index: -2;
  background: url(../img/index/sec3_bg.jpg);
}
#sec3 .wrap {
  padding: 30vw 0 59vw 0;
  background: url(../img/index/sec3_bg_top_sp.png) no-repeat top center/100% auto, url(../img/index/sec3_bg_bottom_sp.jpg) no-repeat bottom center/100% 100vw;
}
#sec3 .sec3-img {
  margin: 0 3%;
}
#sec3 .sec3-box {
  background: url(../img/index/sec3_box_bg.jpg);
  margin: 31vw 5% 30vw;
  padding: 13vw 7%;
}
#sec3 .sec3-box h2 {
  margin-bottom: 7vw;
}
#sec3 .sec3-box .sec3-txt {
  line-height: 2;
  margin-bottom: 7vw;
}
@media only screen and (min-width: 768px) {
  #sec3:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #sec3::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    bottom: -187px;
    height: 261px;
    background: url(../img/index/sec3_deco_bottom.jpg) repeat-x bottom center;
  }
  #sec3 .deco-top {
    position: absolute;
    top: -347px;
    transform: scale(1.1);
    text-align: center;
    width: 100%;
  }
  #sec3 .wrap {
    background: unset;
    padding: 0px 0px 85px 0px;
    position: relative;
  }
  #sec3 .sec3-box {
    margin: -212px 0px 0px 0px;
    padding: 59px 0px 0px 79px;
    width: 730px;
    height: 440px;
    position: relative;
    z-index: 1;
  }
  #sec3 .sec3-box h2 {
    margin: 0px 0px 19px 0px;
  }
  #sec3 .sec3-box .sec3-txt {
    margin-bottom: 22px;
    line-height: 32px;
  }
  #sec3 .sec3-img {
    margin: 0px 0px 0px 0px;
    position: relative;
    top: -86px;
    left: 150px;
  }
  #sec3 .deco-left {
    position: absolute;
    left: -282px;
    top: -5px;
  }
  #sec3 .deco-right {
    position: absolute;
    right: -232px;
    top: 350px;
  }
}

#sec4 {
  background: url(../img/index/sec4_bg_sp.png) no-repeat bottom center/100% auto;
}
@media only screen and (max-width: 767px) {
  #sec4 .img_parallax img {
    height: 60vh !important;
    top: 36vw;
  }
}
#sec4 .slick-arrow {
  height: 32px;
  top: 32vw;
  bottom: auto;
}
#sec4 .slick-next {
  right: 5%;
}
#sec4 .slick-prev {
  left: 5%;
}
#sec4 .wrap {
  padding: 17vw 0 30vw;
}
#sec4 h2 {
  font-size: 4.8vw;
  margin-bottom: 12vw;
  position: relative;
}
#sec4 h2:after {
  content: "";
  position: absolute;
  width: 66%;
  right: -24%;
  top: -4vw;
  height: 100vw;
  background: url(../img/index/sec4_deco1.png) no-repeat top center/100% auto;
  z-index: -1;
}
#sec4 .sec4-slide .slide .slide-box-txt {
  background: url(../img/index/sec4_deco2.jpg);
  color: #fff;
  margin: -12vw 8% 0;
  padding: 7vw 9%;
  position: relative;
}
#sec4 .sec4-slide .slide .slide-box-txt h3 {
  font-size: 4.8vw;
  position: relative;
  margin-bottom: 10vw;
}
#sec4 .sec4-slide .slide .slide-box-txt h3:after {
  content: "";
  position: absolute;
  bottom: -5vw;
  height: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  background: #fff;
}
#sec4 .sec4-slide .slide .slide-box-txt p {
  line-height: 2;
}
#sec4 .sec4-slide .slide img {
  height: 70vw;
  width: 100%;
}
#sec4 .sec4-group {
  margin-top: 13vw;
}
#sec4 .sec4-group .right {
  width: 72%;
  margin-left: 40%;
}
#sec4 .sec4-group .left {
  width: 40%;
  margin-left: 16%;
  margin-top: 5vw;
}
@media only screen and (min-width: 768px) {
  #sec4 {
    background: unset;
  }
  #sec4 .wrap {
    padding: 109px 0px 0px 0px;
    width: 1100px;
  }
  #sec4 h2 {
    font-size: 24px;
    margin-bottom: 56px;
  }
  #sec4 h2:after {
    content: url(../img/index/sec4_deco1.png);
    width: 483px;
    right: -31px;
    top: -92px;
    height: 440px;
    background: unset;
  }
  #sec4 .sec4-slide .slide  { 
    position: relative;
  }
  #sec4 .sec4-slide .slide2 {
    margin-top: 58px;
    position: relative;
  }
  #sec4 .sec4-slide .slide2::after {
    content: url(../img/index/sec4_deco3.png);
    position: absolute;
    top: -140px;
    left: -135px;
    z-index: -2;
  }

  #sec4 .sec4-slide .slide2 .slide-box-txt2 h3 {
    top: 111px;
    right: 365px;
  }
  #sec4 .sec4-slide .slide3 {
    margin-top: 59px;
    position: relative;
  }
  #sec4 .sec4-slide .slide3::after {
    content: url(../img/index/sec4_deco4.png);
    position: absolute;
    top: -195px;
    right: -97px;
    z-index: -2;
  }
  #sec4 .sec4-slide .slide .sec4-img3 { 
    margin: 0 0 0 0;
    position: relative;z-index: -1;
  }
  #sec4 .sec4-slide .slide .sec4-img3 img { 
    display: block;
    margin-left: auto;
  }
  #sec4 .sec4-slide .slide .sec4-img4 {
    position: relative;
    z-index: -1;
    margin-left: 198px;
  }
  #sec4 .sec4-slide .slide .slide-box-txt {
    padding: 49px 59px;
    margin: 0px 0px 0px 0px;
    width: 370px;
    height: 230px;
    position: unset;
  }
  #sec4 .sec4-slide .slide .slide-box-txt p {
    line-height: 32px;
  }
  #sec4 .sec4-slide .slide .slide-box-txt1 {
     margin: -150px 79px 0px auto;
  }
  #sec4 .sec4-slide .slide .slide-box-txt2 {
     margin: -149px 0 0 79px;
  }
  #sec4 .sec4-slide .slide .slide-box-txt h3 {
    font-size: 24px;
    margin-bottom: 0;
    z-index: 1;
    position: absolute;
    top: 107px;
    right: 365px;
    letter-spacing: 5px;
  }
  #sec4 .sec4-slide .slide .slide-box-txt h3::after {
    top: -48px;
    bottom: auto;
    width: 78px;
  }
  #sec4 .sec4-slide .slide2 .slide-box-txt2 h3 {
    top: 109px;
    right: auto;
    left: 362px;
  }
  #sec4 .sec4-slide .slide .sec4-img2 img { 
    position: relative;
    z-index: -1;
  }
  #sec4 .sec4-slide .slide img {
    height: auto;
    width: auto;
  }
  #sec4 .sec4-group {
    margin-top: 0;
    position: relative;
  }
  #sec4 .sec4-group::after {
    content: url(../img/index/sec4_deco5.png);
    position: absolute;
    z-index: -1;
    top: -91px;
    left: 56px;
  }
  #sec4 .sec4-group .right {
    width: auto;
    margin: 61px 19px 0px 0px;
    text-align: right;
  }
  #sec4 .sec4-group .left {
    width: auto;
    margin: -203px 0px 0px 268px;
  }
}