@media only screen and (min-width: 768px) {
  .wrap {
    border-left: 1px solid red;
    border-right: 1px solid red;
  }
}

#rss {
  position: relative;
  z-index: 1;
  padding: 8vw 0;
  margin-top: 11vw;
}
#rss:after {
  position: absolute;
  content: "";
  bottom: 1vw;
  left: 4%;
  right: 4%;
  height: 2px;
  background: #d1d1ce;
}
#rss h2 {
  font-size: 4.8vw;
  margin-left: 4%;
  color: #555555;
}
#rss #feed-rss {
  margin-top: 2vw;
  min-height: 83px;
}
#rss #feed-rss p span:nth-child(1) {
  color: #999999;
}
@media only screen and (min-width: 768px) {
  #rss {
    padding: 27px 0 72px;
    text-align: center;
  }
  #rss:after {
    bottom: 52px;
    left: 23.4%;
    right: 23.4%;
    box-sizing: border-box;
    height: 3px;
    border-top: 1px solid #d1d1ce;
    background: unset;
    border-bottom: 1px solid #d1d1ce;
    opacity: 0.5;
  }
  #rss h2 {
    font-size: 24px;
    margin: 0px 0px 0px 0px;
  }
  #rss #feed-rss {
    margin-top: 36px;
  }
}

#sec1 {
  margin-top: 7vw;
}
#sec1 .group1 {
  position: relative;
}
#sec1 .group1:after {
  content: "";
  position: absolute;
  right: -31%;
  top: -71vw;
  width: 70%;
  height: 100vw;
  background: url(../img/index/sec1_deco1.png) no-repeat top center/100% auto;
  z-index: -1;
}
#sec1 .group1 .sec1-banner {
  margin-top: 9vw;
}
#sec1 .group2 {
  margin-top: 25vw;
  position: relative;
}
#sec1 .group2:after {
  content: "";
  position: absolute;
  right: -22%;
  width: 90%;
  height: 100vw;
  top: 58vw;
  background: url(../img/index/sec1_deco2.png) no-repeat top center/100% auto;
  z-index: -1;
}
#sec1 .group2 .sec1-img1 {
  margin: 0 -5% 21vw;
  position: relative;
  right: 10%;
  transform: scale(1.4);
}
#sec1 .group2 h2 {
  width: 55%;
  margin: 0 auto 9vw;
}
#sec1 .group2 .sec1-txt {
  color: #fff;
  background: url(../img/index/sec3_bg.jpg);
  padding: 10vw 9%;
  margin: 0 2%;
  line-height: 2;
}

@media only screen and (min-width: 768px) {
  #sec1 {
    margin-top: -12px;
  }
  #sec1 .group1 {
    margin-bottom: 112px;
  }
  #sec1 .group1:after {
    background: unset;
    width: 810px;
    height: 1170px;
    right: -492px;
    top: -674px;
    content: url(../img/index/sec1_deco1.png);
  }
  #sec1 .group1 .sec1-banner {
    margin: 0px 0px 0px 0px;
    text-align: center;
  }
  #sec1 .group1 .sec1-btn {
    margin-bottom: 59px;
  }
  #sec1 .group2 {
    margin: 0px 0px 0px 0px;
    position: relative;
  }
  #sec1 .group2:after {
    background-color: unset;
    content: url(../img/index/sec1_deco2.png);
    width: 651px;
    height: 572px;
    top: 62px;
    right: -141px;
  }
  #sec1 .group2 .sec1-img1 {
    margin: -11px 0px 0px -410px;
    transform: scale(1);
    position: unset;
    width: 107%;
  }
  #sec1 .group2 h2 {
    width: auto;
    margin: 0px 0px 0px 0px;
    position: absolute;
    left: 601px;
    top: 147px;
  }
  #sec1 .group2 .sec1-txt {
    padding: 62px 74px;
    margin: 0px 0px 0px 0px;
    width: 600px;
    height: 380px;
    position: absolute;
    top: 361px;
    line-height: 32px;
    left: 450px;
  }
}
#sec2 {
  margin-top: 12vw;
}
#sec2 .wrap .sec2-img1 {
  margin-left: -5%;
  margin-right: 2%;
}
#sec2 .wrap h2 {
  text-align: center;
  margin: 24vw 0% 0 0;
  position: relative;
}
#sec2 .wrap h2::after {
  content: "";
  position: absolute;
  width: 58%;
  height: 123vw;
  left: 25%;
  top: -28vw;
  background: url(../img/index/sec2_deco.png) no-repeat top center/100% auto;
  z-index: -1;
}
#sec2 .wrap .sec2-content p {
  padding: 8vw 0;
  line-height: 2;
}
#sec2 .wrap .sec2-content p:first-child {
  position: relative;
}
#sec2 .wrap .sec2-content p:first-child::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  border-top: 1px solid #d0ceca;
  border-bottom: 1px solid #d0ceca;
  opacity: 0.5;
}

@media only screen and (min-width: 768px) {
  #sec2 {
    margin-top: 281px;
    margin-bottom: -195px;
  }
  #sec2 .wrap {
    height: 100%;
  }
  #sec2 .wrap .sec2-img1 {
    margin-right: 249px;
    margin-left: -250px;
  }
  #sec2 .wrap h2 {
    position: absolute;
    right: 120px;
    margin: 0;
    top: 248px;
  }
  #sec2 .wrap h2::after {
    content: url(../img/index/sec2_deco.png);
    width: 295px;
    height: 703px;
    left: -113px;
    top: -187px;
    background: unset;
  }
  #sec2 .wrap .sec2-img2 {
    margin: -30px 0px 0px 198px;
  }
  #sec2 .wrap .sec2-content {
    width: 514px;
    position: relative;
    top: -499px;
    left: 77px;
  }
  #sec2 .wrap .sec2-content p {
    padding: 57px 0;
    line-height: 32px;
  }
}
#sec3 {
  position: relative;
}
#sec3:after {
  content: "";
  position: absolute;
  top: 33vw;
  left: 0;
  width: 100%;
  height: 83%;
  z-index: -2;
  background: url(../img/index/sec3_bg.jpg);
}
#sec3 .wrap {
  padding: 30vw 0 59vw 0;
  background: url(../img/index/sec3_bg_top_sp.png) no-repeat top center/100% auto, url(../img/index/sec3_bg_bottom_sp.jpg) no-repeat bottom center/100% 100vw;
}
#sec3 .sec3-img {
  margin: 0 3%;
}
#sec3 .sec3-box {
  background: url(../img/index/sec3_box_bg.jpg);
  margin: 31vw 5% 30vw;
  padding: 13vw 7%;
}
#sec3 .sec3-box h2 {
  margin-bottom: 7vw;
}
#sec3 .sec3-box .sec3-txt {
  line-height: 2;
  margin-bottom: 7vw;
}
@media only screen and (min-width: 768px) {
  #sec3:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #sec3::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    bottom: -187px;
    height: 261px;
    background: url(../img/index/sec3_deco_bottom.jpg) repeat-x bottom center;
  }
  #sec3 .deco-top {
    position: absolute;
    top: -347px;
    transform: scale(1.1);
    text-align: center;
    width: 100%;
  }
  #sec3 .wrap {
    background: unset;
    padding: 0px 0px 85px 0px;
    position: relative;
  }
  #sec3 .sec3-box {
    margin: -212px 0px 0px 0px;
    padding: 59px 0px 0px 79px;
    width: 730px;
    height: 440px;
    position: relative;
    z-index: 1;
  }
  #sec3 .sec3-box h2 {
    margin: 0px 0px 19px 0px;
  }
  #sec3 .sec3-box .sec3-txt {
    margin-bottom: 22px;
    line-height: 32px;
  }
  #sec3 .sec3-img {
    margin: 0px 0px 0px 0px;
    position: relative;
    top: -86px;
    left: 150px;
  }
  #sec3 .deco-left {
    position: absolute;
    left: -282px;
    top: -5px;
  }
  #sec3 .deco-right {
    position: absolute;
    right: -232px;
    top: 350px;
  }
}

#sec4 {
  background: url("../img/index/sec4_top_sp.jpg") no-repeat top center/100% auto, url("../img/index/bg4_bg_sp.jpg") repeat-y top center/100% auto;
  padding: 15vw 0 10vw;
}
#sec4 h2 {
  margin: 0 auto 6vw;
  width: 46%;
}
#sec4 .slick-fade {
  margin: auto;
  width: 75%;
}
#sec4 .sec4-txt {
  margin: 6vw 0 8vw;
}
#sec4 .btn-link {
  margin-bottom: 5vw;
}
#sec4 .btn-link i {
  width: 19px;
  margin-right: 10px;
}
#sec4 .sec4-tel {
  background: rgba(215, 187, 128, 0.3);
  position: relative;
  text-align: center;
  font-size: 3.5vw;
  font-weight: 500;
  padding: 6vw 0;
}
#sec4 .sec4-tel span:nth-child(2) {
  justify-content: center;
  align-items: center;
  font-size: 223%;
  line-height: 1;
  margin-top: 1.5vw;
}
#sec4 .sec4-tel span:nth-child(2) i {
  margin-right: 5px;
}
#sec4 .sec4-tel span:nth-child(3) {
  font-size: 88%;
  line-height: 1.6;
  display: block;
}
#sec4 .sec4-tel:before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #c5c2bb;
  text-align: center;
  top: 7px;
  left: 7px;
  width: calc(100% - 14px);
  height: calc(100% - 14px);
  pointer-events: none;
}
@media only screen and (min-width: 768px) {
  #sec4 {
    background: url("../img/index/sec4_top.jpg") no-repeat top center, url("../img/shared/bg4.jpg") repeat top center;
    padding: 100px 0 65px;
  }
  #sec4 .wrap {
    z-index: 0;
  }
  #sec4 .wrap:before {
    content: url("../img/index/sec4_deco.jpg");
    position: absolute;
    z-index: -1;
    top: 39px;
    right: 18px;
  }
  #sec4 h2 {
    margin: 0 100px 25px auto;
    width: 315px;
  }
  #sec4 .slick-fade {
    position: absolute;
    top: -2px;
    left: -79px;
    width: 518px;
  }
  #sec4 .slick-dots {
    text-align: right;
    margin-right: -5px;
    margin-top: 16px;
  }
  #sec4 .sec4-info {
    margin-left: auto;
    width: 500px;
  }
  #sec4 .sec4-txt {
    margin: 0 55px 27px 32px;
  }
  #sec4 .btn-link {
    margin: 0 0 39px 31px;
    width: 421px;
  }
  #sec4 .btn-link i {
    width: 28px;
    margin-right: 8px;
  }
  #sec4 .sec4-tel {
    width: 476px;
    font-size: 18px;
    padding: 35px 0 24px;
  }
  #sec4 .sec4-tel span:nth-child(2) {
    margin-top: 2px;
  }
  #sec4 .sec4-tel span:nth-child(2) i {
    width: 34px;
    margin-top: -3px;
  }
}

#sec5 {
  background: url("../img/index/sec5_bg_sp.jpg") no-repeat top center/100% auto;
  padding: 9vw 0 0;
}
#sec5 .sec5-slide {
  background: url("../img/index/sec3_bg2.jpg");
  padding: 8vw 0;
}
#sec5 .sec5-slide li {
  margin: 0 4px;
  width: 153px;
}
@media only screen and (min-width: 768px) {
  #sec5 {
    background: none;
    padding: 10px 0 115px;
    position: relative;
    z-index: 0;
  }
  #sec5:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: url("../img/index/sec3_bg2.jpg");
    width: 50%;
    height: calc(100% - 58px);
    right: 0;
    top: 0;
    border-bottom-left-radius: 50px;
  }
  #sec5 h2 {
    margin: 0 0 0 24px;
    width: 395px;
  }
  #sec5 .sec5-txt {
    width: 331px;
    margin: -195px 118px 20px auto;
  }
  #sec5 .sec5-slide {
    background: none;
    padding: 0;
    margin-top: 107px;
  }
  #sec5 .sec5-slide li {
    width: 306px;
    margin: 0 8px;
  }
}

.box-btn {
  margin: 10vw 0 15vw;
}
@media only screen and (min-width: 768px) {
  .box-btn {
    width: 880px;
    justify-content: space-between;
    margin: 70px auto 40px;
  }
  .box-btn .col {
    width: 421px;
  }
  .box-btn .btnprint {
    text-align: center;
    margin-top: 5px;
  }
  .box-btn .btnprint a {
    text-decoration: underline;
  }
  .box-btn .btnprint a:hover {
    text-decoration: none;
  }
}/*# sourceMappingURL=index.css.map */